/* MIXIN */

@mixin encabezado {
    font-family: $font-family;
    font-size: $tamFuente + 1; /* Acá la operación */
    text-align: $textoCentro;
    background-color: $azul;
    color: white;
    margin: 0%;
}

.encabezadoMixin {
    @include encabezado;
}

