/* ========= Variables =========== */

$font-family: 'Poppins', sans-serif;
$colorAmarillo: #F0A500;
$colorTexto: #373737;
$colorTexto02: #f3f3f3;
$textoCentro: center;
$tamFuente: .1rem;
$colorFondo: #D8D2CB;
$azul: #1C658C;
$azul_claro: #398AB9;
$azul_dos: #396EB0;