/* ========= Variables =========== */

$font-family: 'Poppins', sans-serif;
$colorAmarillo: #F0A500;
$colorTexto: #373737;
$colorTexto02: #f3f3f3;
$textoCentro: center;
$tamFuente: .1rem;
$colorFondo: #D8D2CB;
$azul: #1C658C;
$azul_claro: #398AB9;
$azul_dos: #396EB0;

$color-fondo-uno: #f3f3f3;
$azul_portada: rgba(38,172,255,0.8);


$Manjari: 'Manjari', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Orbitron: 'Orbitron', sans-serif;
$PermanentMarker: 'Permanent Marker', cursive;
$Poppins: 'Poppins', sans-serif;
$Roboto: 'Roboto', sans-serif;