@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ========= Variables =========== */

$font-family: 'Poppins', sans-serif;
$azul: #36a9e1;
$colorTexto: #373737;
$colorTexto02: #f3f3f3;
$textoCentro: center;

body{
    font-family: $font-family;
    overflow-x: hidden;
}

#encabezado{
    background-color: $azul;

    /* Menu */

    #menu{
        color: #373737;
    }
}

.carousel-inner{
    max-height: 39rem;
}

/* Media queries pantalla sm */

@media (max-width:768px){
    #intro, #equipo{
        width: 90% !important;
    }
    #equipo p{
        display: none;
    }

.servicios-fila{
    width: 100% !important;
    text-align: $textoCentro;
}
}

@media (max-width:576){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
   
}

/* footer */
footer{
    background: $azul;
    min-height: 100px;
}

footer p{
    color: $colorTexto02;
    text-align: $textoCentro;
}

#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: $colorTexto02;
}

.titulo{
    text-align: $textoCentro;
}

/* Cards */

.container--cards{
    width: 90%;
    margin: 50px auto;
    margin-bottom: 30px;
}

.heading{
    text-align: $textoCentro;
    font-size:  50px;
}


.card{
    width: 20%;
    background: $azul;
    border: 1px solid $colorTexto;
    margin-bottom: 50px;
    transition: 0.3s;
}

.card-header{
    text-align: $textoCentro;
    padding: 50px 10px;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: $colorTexto02;
}

.card-body{
    padding: 30px 20px;
    text-align: $textoCentro;
    font-size: 18px;
    background: $colorTexto02;
}

.card-body .btn{
display: block;
color: $colorTexto02;
text-align: $textoCentro;
background: linear-gradient(to right, #ff416c, #ff4b2b);
margin-top: 30px;
text-decoration: none;
padding: 10px 5px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.row--cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

@media screen and (max-width:1000px){
    .card {
        width: 40%;
    }
}
    
@media screen and (max-width:620px){
    .container--cards{
        width: 100%;
    }

    .heading{
        padding: 20px;
        font-size: 20px;
    }
    .card {
        width: 80%;
    }
}
