@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ========= Variables =========== */
/* MIXIN */
.encabezadoMixin {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  /* Acá la operación */
  text-align: center;
  background-color: #1C658C;
  color: white;
  margin: 0%;
}

.inicio--link {
  color: black;
  text-decoration: none;
  padding: 0px 10px;
}

.nosotros--link {
  color: #F0A500;
  text-decoration: none;
  padding: 0px 10px;
}

.productos--link {
  color: #FF5677;
  text-decoration: none;
  padding: 0px 10px;
}

.servicios--link {
  color: blue;
  text-decoration: none;
  padding: 0px 10px;
}

.inicio--titulo {
  text-align: center;
  color: black;
}

.nosotros--titulo {
  text-align: center;
  color: #F0A500;
}

.productos--titulo {
  text-align: center;
  color: #FF5677;
}

.servicios--titulo {
  text-align: center;
  color: blue;
}

/* MIXIN Titulos */
.formatoTitulos {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

/* EXTEND */
.EstiloParrafos, .EstiloParrafosDos {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
}

.EstiloParrafosDos {
  font-size: 35px;
  color: #1C658C;
}

.contenedor_cards {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
}

.card {
  width: 330px;
  height: 430px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0px 80px;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.contenedor_cards .cards:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.contenedor_cards .cards img {
  width: 630px;
  height: 520px;
}

.contenedor_cards .cards h4 {
  font-weight: 600;
}

.contenedor_cards .cards p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 800px) {
  .contenedor_cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body {
  background-color: #D8D2CB;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.navbar {
  background-color: #398AB9;
  margin-bottom: 0;
}

.navbar-nav {
  background-color: #398AB9;
}

#imagenAbeja {
  background-color: #398AB9;
}

.carousel-inner {
  max-height: 39rem;
}

/* Media queries pantalla sm */
@media (max-width: 768px) {
  #intro, #equipo {
    width: 90% !important;
  }
  #equipo p {
    display: none;
  }
}

@media (max-width: 576) {
  .icono-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

/* footer */
footer {
  background: #1C658C;
  min-height: 100px;
}

footer p {
  color: #f3f3f3;
  text-align: center;
}

#iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: #f3f3f3;
}

/* Cards */
.container--cards {
  width: 90%;
  margin: 50px auto;
  margin-bottom: 30px;
}

.heading {
  text-align: center;
  font-size: 50px;
}

.card {
  width: 20%;
  background: #1C658C;
  border: 1px solid #373737;
  margin-bottom: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card-header {
  text-align: center;
  padding: 50px 10px;
  background: -webkit-gradient(linear, left top, right top, from(#ff416c), to(#ff4b2b));
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: #f3f3f3;
}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
  background: #f3f3f3;
}

.card-body .btn {
  display: block;
  color: #f3f3f3;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#ff416c), to(#ff4b2b));
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.row--cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container--cards {
    width: 100%;
  }
  .heading {
    padding: 20px;
    font-size: 20px;
  }
  .card {
    width: 80%;
  }
}

.imagen00 {
  width: 400px;
  height: 250px;
}

.footer-espacio {
  padding: 20px;
}
/*# sourceMappingURL=estilos.css.map */