@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400;500;600;700;800;900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap');
/*
font-family: 'Manjari', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
@import "variables";
@import "encabezado";
@import "maps";
@import "titulos";
@import "parrafos";
@import "cards";
@import "portada";
@import "menu";
@import "nosotros";
@import "contacto";

body{
    background-color: $color-fondo-uno;
    font-family: $font-family;
    overflow-x: hidden;
}

.navbar {
    background-color: $color-fondo-uno;
}

.navbar-nav {
    background-color: $color-fondo-uno;    
}

.carousel-inner{
    max-height: 39rem;
}

/* Media queries pantalla sm */

@media (max-width:768px){
    #intro, #equipo{
        width: 90% !important;
    }
    #equipo p{
        display: none;
    }

}

@media (max-width:576){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
   
}

/* footer */
footer{
    background: $azul;
    min-height: 100px;
}

footer p{
    color: $colorTexto02;
    text-align: $textoCentro;
}

#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: $colorTexto02;
}





.imagen00 {
    width: 400px;
    height: 250px;
}

.footer-espacio{
    padding: 20px;
}

.info-index {
    margin-top: 50px;
}

.info-index img{
    margin-bottom: 50px;
}